{% extends 'seller_header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="products_container">
        {% for i in products %}
            <div class="product_box">
                <img src="{{i.product_image.url}}" style="height: 200px; width: 200px; align-self: center;">
                <h3 class="product_headings">{{i.product_name}}</h3>
                <h3 class="product_headings">Rs. {{i.product_price}}</h3>
            </div>
        {% endfor %}
    </div>
</body>
</html>

{% endblock %}