{% extends 'navbar.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Email</title>
</head>
<body>
    <form name="change_email" method="post" action="{% url 'change_email' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td colspan="2" align="center" style="padding: 0;"><h1 class="form_heading">Change Email</h1><br></td>
            </tr>
            <tr>
                <td colspan="2" style="color: #a00;">
                    {% if msg %}
                        {{msg}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Get OTP" class="submit_buttons"></td>
            </tr>
        </table>
    </form>
</body>
</html>

{% endblock %}