{% extends 'navbar.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form name="change_password" method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td colspan="2" align="center" style="padding: 0;"><h1 class="form_heading">Change Password</h1><br></td>
            </tr>
            <tr>
                <td colspan="2" style="color: #a00;">
                    {% if msg %}
                        {{msg}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Current Password</td>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="text" name="new_password"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="cnew_password"></td>
            </tr>
            <tr>
                <td style="padding-bottom: 0;" colspan="2" align="center"><input type="submit" value="Update" class="submit_buttons"></td>
            </tr>
            <tr>
                <td style="padding-top: 0;" colspan="2" align="center"><a href="{% url 'forgot_password' %}" class="other_a">Forgot Password</a></td>
            </tr>
        </table>
    </form>
</body>
</html>

{% endblock %}