{% extends 'nav.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Password</title>
    <style>
        tr, td{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Create New Password</h1>
    {% if msg %}
        {{msg}}
    {% endif %}
    <form name="create_new_password" method="post" action="{% url 'create_new_password' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Create New Password</td>
                <td><input type="password" name="new_password"></td>
            </tr>
            <tr>
                <td>Confirm New Password</td>
                <td><input type="password" name="cnew_password"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Change Password" class="btn btn-primary">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

{% endblock %}